html, body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 0px;
}

.container {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    padding: 20px 0;
    margin-top: 60px;
}

/*css of container component */
.card {
    flex-shrink: 0;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.rectangle {
    position: absolute;
    width: 100%;
    height: 27px;
    left: 0px;
    top: 0px;

    background: #02BAB0;
}

.square {
    position: absolute;
    width: 100%;
    height: 207px;
    left: 0px;
    top: 27px;

    /* Primary/Green */

    background: #00D1C1;

}

.header {
    position: absolute;

    height: 21px;
    padding-top: 20px;
}

.title {

    left: 16px;
    top: 54px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #FFFFFF;
}

.vector {
    position: absolute;
    left: 13.97%;
    right: 63.14%;
    top: 1.83%;
    bottom: 18.5%;


}

.transactions {
    position: absolute;
    height: 286px;
    left: 0%;
    right: 0%;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 20);
}

.recharge {
    width: 100%;
    height: 184px;
    margin-bottom: 70px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 2px 6px grey;
}

.recharge-header {
    position: absolute;
    width: 140px;
    height: 14px;
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
    color: #888888;
}

.vtitle {
    position: absolute;
    width: 140px;
    height: 14px;
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
    color: #888888;
}

.transactions-title {
    position: absolute;
    width: 140px;
    height: 14px;
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
    color: #888888;
}